extends ../layout

block content
  .row.log-in
    .col-md-9.text-center.first-side
      .offset-md-3.col-md-7.pl-2
        h1 Welcome Back!
        h2 Please log in with one of the following:
      form(method='POST')
        .form-group
          .offset-md-3.col-md-7.pl-2
            a.btn.btn-google.social-btns(href='/auth/google')
              p.fab.fa-google-plus-g.fa-xs
            a.btn.btn-facebook.social-btns(href='/auth/facebook')
              p.fab.fa-facebook-f.fa-sm
            a.btn.btn-twitter.social-btns(href='/auth/twitter')
              p.fab.fa-twitter.fa-sm
        .offset-md-3.col-md-7.pl-2
            h2 or use your email account:
        input(type='hidden', name='_csrf', value=_csrf)
        .form-group.row
          .offset-md-4.col-md-5.pl-2
            input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus, autocomplete='email', required)
        .form-group.row
          .offset-md-4.col-md-5.pl-2
            input.form-control(type='password', name='password', id='password', placeholder='Password', autocomplete='current-password', required)
        .form-group-row 
          .offset-md-3.col-md-7.pl-2
            a.btn-link(href='/forgot') Forgot your password?
        .form-group
          .offset-md-6.col-md-1.pl-2
            hr
        .form-group.row
          .offset-md-3.col-md-7.pl-2
            button.col-md-3.btn.submit(type='submit')
              | Login
    .col-md-3.text-center.other-side
      h1 Need an Account?
      br
      a.notabtn.signup(href='/signup') 
        | Sign Up Today

