extends layout

block content
  div.hero
    h1 Safe Flights, Safe Nights
    h2 Rent crashpads from local hosts nationwide.
    .offset-md-3.col-md-6
      input.form-control(type='text', class='form-control-lg' name='search', id='frontSearch', placeholder='Search Airports', autofocus)

  .homepage-content
    .row
      .col-md-6
        h2 Heading
        p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        p
          a.btn.btn-raised(href='#', role='button') View details »
      .col-md-6
        h2 Heading
        p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        p
          a.btn.btn-raised(href='#', role='button') View details »
