
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/@ladjs/bootstrap-social/bootstrap-social.scss";
@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "node_modules/@fortawesome/fontawesome-free/scss/brands";
@import "node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "node_modules/@fortawesome/fontawesome-free/scss/solid";


// For dynamic font sizes
// -------------------------
$enable-responsive-font-sizes: true;
$font-size-base: 1rem;
$h2-font-size: 1.5rem;

// Crewmates Colors
// -------------------------
$green: #94BA33;
$lightBlue: #05D7D7;
$darkBlue:  #23426E;
$darkGray: #2b2d2e;

.green {
  color: $green;
}

.lightBlue {
  color: $lightBlue;
}

.darkBlue {
  color: $darkBlue;
}

.darkGray {
  color: $darkGray;
}

// Scaffolding
// -------------------------

h1{
  font-size: 3em;
  font-weight: bolder;
  color: $darkBlue;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  height: 100%;
  @include font-size(1rem);
}

footer {
  font-size: 1.25em;
  color: white;
  //position: absolute;
  background-color: $darkGray;
  bottom: 0;
  width: 100%;
  padding: 1%;

  p, ul {
    margin-bottom: 0;
  }
}

// Bootstrap standards
// -------------------------
.container-fluid {
  padding: 0 !important;
  height: 100%;
}

.row {
  // height: 100%;
  margin: 0;
}

.default {
  padding: 5%;
}


// Input Fields
// -------------------------

textarea {
  resize: vertical;
}

.btn {
  background-color: $green;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: x-large;
  margin: 4px 2px;
  border-radius: 50px;
}

.submit {
  margin-top: 10%;
}

.form-control {
  height: 3em;
  font-size: x-large;
  margin-bottom: 2%;
}

.checkbox {
  height: 20px;
  width: 20px;
  margin: 5px;
}


// Navbar
// -------------------------

.navbar-nav img {
  width: 30px;
  min-height: 30px;
}

.navbar{
  background-color: white;
  margin: auto;
  padding-top: 1%;
  padding-bottom: 0px;
  margin-bottom: 20px;
  display: contents;
}

.navbar-brand{
  font-size: 18px;
  float: left;
}

.navbar-toggler {
  position: relative;
  float: right;
  margin-bottom: 8px;
  margin-top: 8px;
}

.navbar-toggler-icon {
  font-size: 16px;
}

.dropdown-menu {
  left: initial;
  right: 0;
}

.navbar-light {
  .nav-link {
    font-weight: 400;
    color: $darkBlue !important;
    font-size: 1.5rem;
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
  }
}

.all-nav-links{
  margin: auto;
}

#navbar-logo{
  width: 100%;
}

#loginLink {
  background-color: $darkBlue;
  float: right;
  padding: 0;
  margin: 0;
  font-size: inherit;

    a {
      color: white !important;
    }
}

.notabtn {
  background-color: $green;
  border: none;
  color: white;
  // padding: 15px 45px 27px 45px;
  padding: 5% 10% 5% 10%;
  text-align: center;
  margin: 4px 2px;
  border-radius: 50px;

}

// button raised definition
// this button uses gradient for the background
$btn-raised-color: rgb(51, 51, 51);
$btn-raised-background: #f8f8f8;
$btn-raised-border: rgb(204, 204, 204);
$enable-gradients: true;

.btn-raised {
  @include button-variant(
    $btn-raised-background,
    $btn-raised-border,
    $btn-raised-color
  )
}

/*
* Solves Bootstrap 4 issue
* https://github.com/twbs/bootstrap/issues/25654
*/
/* Styles in sm disposition and up */
@media (min-width: 576px) and (max-width: 767px) {
  /* Solves bs4 bug */
  .navbar-expand-md > .container,
  .navbar-expand-lg > .container,
  .navbar-expand-xl > .container {
    // padding-left: 15px !important;
    // padding-right: 15px !important;
  }
}

/* Styles in md disposition and up */
@media (min-width: 768px) and (max-width: 991px) {
  /* Solves bs4 bug */
  .navbar-expand-lg > .container,
  .navbar-expand-xl > .container {
    // padding-left: 15px !important;
    // padding-right: 15px !important;
  }
}

/* Styles in lg disposition and up */
@media (min-width: 992px) and (max-width: 1199px) {
  /* Solves bs4 bug */
  .navbar-expand-xl > .container {
    // padding-left: 15px !important;
    // padding-right: 15px !important;
  }
}

// Alerts
// -------------------------

.alert {
  width: 100%;
  margin-bottom: 0;
}

// Thumbnails
// -------------------------

.thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}

// Font Icons
// -------------------------

.fa {
  margin-right: 6px;
}

.fab {
  margin-right: 6px;
  display: block;
}

.fas {
  margin-right: 6px;
  margin-bottom: 0;
}

.far {
  margin-right: 6px;
}

// Homepage
// -------------------------

.slider-image{
  height: 100%;
 
}

.hero{
  padding-top: 10vh;
  text-align: center;
  background-image: url(/imgs/Slider01.png);
  background-size: cover;
  padding: 15%;
  height: 70vh;


    h1, h2 {
      color: white;
      font-size: 2em;
    }

    input {
      margin: 0 auto;
      float: none;
      width: 60vw;
      height: 5vh;
      border-radius: 5rem;
      margin-top:  3%;
      margin-bottom: 12%;
    }

    @media (min-width: 544px) {  
      h1 {font-size:1.5rem;} 
      input { width: 45vw; height: 5vh;}
      padding-top: 10vh;
    }
     

    @media (min-width: 768px) {  
      h1 {font-size:3rem;} 
      input { width: 45vw; height: 5vh;}
      padding-top: 15vh;
    }
     
 
    @media (min-width: 992px) { 
      h1 {font-size:4rem;} 
      input { width: 45vw; height: 5vh;}
      padding-top: 20vh;
    }
     

    @media (min-width: 1200px) {  
      h1 {font-size:5rem;} 
      input { width: 40vw;}
      padding-top: 25vh;
    }

}

.homepage-content {
 margin: 5%;
}

// Login/Singup Page
// -------------------------
.log-in{
  
  h1 {
    font-size: 4em;
    font-weight: bolder;
  }

  .first-side{
    padding:3%;

    .h2 {
      font-size: 1.5rem;
      padding-bottom: 5%;
    }
  }
}

.sign-up{
  padding-bottom: 0;

  h1 {
    font-size: 4em;
    font-weight: bolder;
  }

  .first-side{
    padding: 3%;

    .h2 {
      font-size: 1.5rem;
      padding-bottom: 1%;
    }
  }
}

.first-side {
  height: 100%;
  padding-bottom: 0;


    h1 {
      color: $darkBlue;
      font-size: 3em;
    }

    h2 {
      font-size: 1.5rem;
      color: $darkBlue;
      font-weight: lighter;

    }

    a {
      font-size: 1.5em;
      color: $darkBlue;
    }

    hr {
      border-top: 1px solid $darkBlue;
    }

    label{
      color: white;
    }

    .social-btns {
      background-color: white;
      border: 2px solid $darkBlue;
      color: $darkBlue;
      height: 100px;
      width: 100px;
      font-size: 4em;
      margin: 3%;
    }
}

.other-side{
  background-image: url(/imgs/PlaneBackground_Blue.jpg);
  // height: 100vh;
  padding-top: 20%;

    h1 {
      font-size: 2.5rem;
      color: white;
    }

    .signup {
      color: white;
      background-color: transparent;
      border: 2px solid;
    }

}

// Contact Form
// -------------------------
.contactform{
  background-color: white;
  height: 60vh;
  width: 60vw;
  padding:5% 10% 10% 10%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10%;
}

.contactbackground {
  background-image: url(/imgs/PlaneBackground_Blue.jpg);
  height: 100vh;
}


// Buttons
// ---------------------------
// Basic Snapchat Button CSS
.btn-snapchat {
  background-color: #fffc00;
  color: #000 !important;

  &:hover, &:active {
    background-color: #f1ef00;
  }
}

// Basic Twitch Button CSS
.btn-twitch {
  background-color: #6441a5;
  color: #FFF !important;

  &:hover, &:active {
    background-color: #503484;
  }
}

.blue {
  background:transparent;
  color: $lightBlue;
  font-size: x-large;
}

// imgs
// ---------------------------
.header {
  background-size: cover;
  background-repeat: no-repeat;
}

.headerText {
  color: white;
  background-color: $darkBlue;
  width: fit-content;
  padding: 2%;
}

#whyHost{
  background-image: url(/imgs/SimpleRoom.jpg);
}

// Dashboard
// ---------------------------
.dashboard {
  background-image: url(/imgs/PlaneBackground_Blue.jpg);

  .contentBox {
    margin: 2%;
    padding: 5%;
    background-color: white;
    border-radius: 25px;

    .listing {
      height: 400px;
      padding: 1%;

      .innerListing {
        border-color: gray;
        border-style: solid;
        border-width: 1px;
        border-radius: 10px;
        height: 100%;
        padding: 2%;


.carousel-inner{
  height: 150px;
}

#carouselExampleControls{
  height: 150px;
}
      }

      .btn {
        background-color: lightgray !important;
      }

      a
        {

          p {
            margin: 0 !important;
            font-size: 3rem;
            }
        }
      }
    }
  


  h1{
    color: white;
  }

  #newListing{
    text-align: center;
    color:lightgray;

    p {
      margin: auto;
      padding-top: 40%;
      font-size: 2rem;
    }
  }
}

// Listing
// ---------------------------

.imagePreviews{
  max-height: 40vh;
  overflow:hidden;


      img {
        object-fit: cover;
        width: auto;
        height: auto;
        min-width: 100%;
        min-height: 100%;
        border-radius: 15px;

      }

      .primary {
        padding: 1%;
        max-height: 40vh;
        overflow:hidden;
      }

      .secondary {
        padding: 1% 1% 1% 0%;
        max-height: 20vh;
        overflow:hidden;
      }
    }

// Sticky
// ------------------------
#sticky {
  position: sticky;
  position: -webkit-sticky;
  width: 100%;
  top: 70px;
  padding-bottom: 3%;
  box-shadow: 0 0 6px lightgray;
  color: black;
  border-radius: 15px;
 }

 .price {
   padding: 3% 4% 3% 4%;
   height: fit-content;
   background-color: $darkBlue;
   color: white;
   border-radius: 15px 15px 0 0;
 }

 .smallInput {
   input {
    margin: 0 auto;
    margin-top:  3%;
    font-size: medium;
   }
 }

