extends ../layout

block content
  .default
    .row
      h1.offset-md-3 Welcome to the Crew!
      .offset-md-3
        form(role='form', method='POST')
          p To help keep your account safe and secure we would like to send you a verification code. Please enter your cell phone number below:
          input(type='hidden', name='_csrf', value=_csrf)
          .form-group
            input.form-control(type='tel', name='phoneNumber', autofocus)
          button.btn(type='submit')
            i.fas.fa-location-arrow.fa-sm
            | Send