extends ../layout

block content
    .default.listing
        .row.imagePreviews
            .col-md-4 
                h1 #{title}
                p Hosted by Brandy Mesaros
                p.fas.fa-star 
                span 5 stars
                br
                p.fas.fa-globe-americas
                span= listing.location

                

            .col-md-4 
                img.img-fluid.primary(src='https://www.rocketmortgage.com/resources-cmsassets/RocketMortgage.com/Article_Images/Large_Images/TypesOfHomes/types-of-homes-hero.jpg' alt='Responsive image')
            .col-md-4 
                .row
                    img.img-fluid.secondary(src='https://images.adsttc.com/media/images/5014/01bd/28ba/0d3b/4500/0b8c/large_jpg/stringio.jpg?1414576505' alt='Responsive image')
                .row
                    img.img-fluid.secondary(src='https://media.architecturaldigest.com/photos/5eac5fa22105f13b72dede45/3:2/w_1599,h_1066,c_limit/111LexowAve_Aug18-1074.jpg' alt='Responsive image')

        br
        hr

        .row   
            .col-md-8
                h2 About
                p= listing.about

            .col-md-4
                div#sticky
                    div.price
                        b $75 per Night
                        br
                    form.smallInput(method='POST')
                        .row 
                            .col
                                br
                                b Check In
                                input.form-control(type='date', name='checkIn', id='checkIn', placeholder='Check In', required)
                            .col
                                br
                                b Check Out
                                input.form-control(type='date', name='checkOut', id='checkOut', placeholder='Check Out', required)
                        .row 
                            .col-md-12
                                input#book.btn.btn-success.placeicon(type='submit' value='Book')

            