extends ../layout

block content
    .default
        h1 NOT FOUND
        h2 Error Code: 404
        
        br

        if errors
            for error, i in errors
                div.alert.alert-danger #{ error }
