extends ../layout

block content
    .default
        h1 Mayday! Mayday! Mayday!
        
        br

        if errors
            for error, i in errors
                div.alert.alert-danger #{ errors }
